<!DOCTYPE html>
<html lang="en">
<body>
  <h1>fileUpload</h1>
  <form name="fileForm" th:action="@{/fileUpload}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" value="첨부파일"/>
    <br>
  </form>
  <input type="button" value="업로드" onclick="document.fileForm.submit()"/>

  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("input[name=file]").change(function () {
      var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
      if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
        alert("이미지 파일만 업로드 가능합니다. (" + fileExtension.join(", ") + ")");
        $("input[name=file]").val("");
        //alert("Only formats are allowed : "+fileExtension.join(', '));
      }
    });
  </script>
</body>
</html>